.cardContainer {
  display: flex;
  flex-direction: row;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 8px;
  border-radius: 7px;
  font-size: 40px;
  width: 6em;
  height: 3em;
  justify-content: space-between;
}

.date {
  text-align: center;
  font-family: 'Open Sans', sans-serif;  
  font-weight: 700;
  align-items: center;
  justify-content: center;
  font-size: 70px;
}

.label {
  padding: 3px;
  text-align: center;
  background-color: #404040;
  font-style: italic;
  font-weight: 700;
  color: white;
  font-family: 'Open Sans', sans-serif;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.containerTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  color: white;
}

@media only screen and (max-width: 1024px) {
  .containerTitle {
    align-items: center;
  }
  .cardContainer {
    flex-direction: column;
  }
  .label, .card {
    font-size: 20px;
  }  
  .date {
    font-size: 30px;
  }
}
